@charset "UTF-8";
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
td, th, tr{
    border: 1px solid black;
    width: 90px;
    height: 30px;
}
td{
    text-align: center;
}

thead{
    background-color: #7B7D7A;
    color: white;
} 
tfoot{
    background-color: #7B7D7A;
    color: white;
    text-align: left;
}